<h1><%= t(:import_csv_file, scope: :csv_mapper) %></h1>

<p><%= t(:please_choose_a_csv_file, scope: :csv_mapper) %>:</p>

<%= form_tag resource_url_proxy.url_for(action: 'import'), multipart: true do %>
  <div class="field">
    <%= file_field_tag 'file' %>
    <%= submit_tag t(:import, scope: :csv_mapper) %>
  </div>
<% end %>
