<h1><%= t(:import_csv_file, scope: :csv_mapper) %></h1>

<p><%= t(:please_map_columns, scope: :csv_mapper) %></p>

<%= form_tag resource_url_proxy.url_for(action: 'import'),
  id: 'map_fields_form', method: :post do -%>
  <%= hidden_field_tag :filename, @mapper.filename %>
  <div class="map_fields">
    <table>
      <thead>
        <tr>
          <%- @mapper.header_row.each.with_index(1) do |column_header, column_index| -%>
            <th>
              <%= select_tag(
                "fields[#{column_index}]",
                options_for_select(
                  @mapper.select_options,
                  @mapper.mapping.detect { |k, _v| k == column_header}
                ),
                prompt: t(:please_select, scope: :csv_mapper),
                class: 'field_options'
              ) %>
            </th>
          <%- end -%>
        </tr>
      </thead>
      <tbody>
        <%- @mapper.data.each do |row| -%>
          <tr>
            <%- row.each do |column| -%>
              <td><%= h(column) -%></td>
            <%- end -%>
          </tr>
        <%- end -%>
      </tbody>
    </table>
  </div>
  <div class="option">
    <p>
      <%= check_box_tag 'ignore_first_row', '1', true %>
      <%= label_tag 'ignore_first_row', t(:ignore_first_row, scope: :csv_mapper) %>
    </p>
  </div>
  <div class="action">
    <%= submit_tag t(:import, scope: :csv_mapper) %>
  </div>
<%- end -%>
