<h1><%= csv_mapper_t(:import_csv_file) %></h1>

<p><%= csv_mapper_t(:please_map_columns) %></p>

<%= form_tag resource_url_proxy.url_for(action: 'import'),
  id: 'map_fields_form', method: :post do -%>
  <%= hidden_field_tag :filename, @mapper.filename %>
  <div class="map_fields">
    <table>
      <thead>
        <tr>
          <%- header = @raw_data.first -%>
          <%- header.each.with_index(1) do |column_header, index| -%>
            <th>
              <%= select_tag("fields[#{index}]", options_for_select(
                @mapper.map_fields,
                @mapper.map_fields.detect { |k, _v| k == column_header}),
                prompt: csv_mapper_t(:please_select),
                class: 'field_options'
              ) %>
            </th>
          <%- end -%>
        </tr>
      </thead>
      <tbody>
        <%- @raw_data[0..5].each do |row| -%>
          <tr>
            <%- row.each do |column| -%>
              <td><%= h(column) -%></td>
            <%- end -%>
          </tr>
        <%- end -%>
      </tbody>
    </table>
  </div>
  <div class="option">
    <p>
      <%= check_box_tag 'ignore_first_row', '1', true %>
      <%= label_tag 'ignore_first_row', csv_mapper_t(:ignore_first_row) %>
    </p>
  </div>
  <div class="action">
    <%= submit_tag csv_mapper_t(:import) %>
  </div>
<%- end -%>
