<h1><%= csv_magic_t(:import_csv_file) %></h1>

<p><%= csv_magic_t(:please_choose_a_csv_file) %>:</p>

<%= form_tag(url_for(:action => 'import'), :multipart => true) do %>
  <div class="field">
    <%= file_field_tag 'file' %>
    <%= submit_tag csv_magic_t(:import) %>
  </div>
<% end %>
